html {
  scroll-behavior: smooth;
  scroll-padding-top: 400px;
}

body {

  background-image: url(/images/green.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Castoro Titling', cursive;
  min-height: 5000px;
  padding-top: 60px;
    /*background: linear-gradient(to bottom, rgba(2,0,36,1) 0%, rgba(35,35,52,1) 35%, rgba(0,212,255,1) 100%);
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.738);*/
  }

  /*Navbar*/

  .sticky-sm-top {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 9999;
    overflow: hidden;
  }

  ul .sticky-sm-top {
    list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  }

  li .sticky-sm-top {
    flex-grow: 1;
  }

  .sticky-sm-top a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .sticky-sm-top a:hover{
    background-color: #ddd;
    color: black;
  }




  h1 {
    color: white;
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 30%;
  }
  


/*image gallery*/
.image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 45%;
  padding: 50px;
  padding-left: 10%;
}

img {
  max-width: 75%;
  height: auto;
}


  img:hover {
    transform: scale(1.1);
  }

  /*Lan gallery*/
  .language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 100%;
    top: 0;
  }

  #Languages {
    position: relative;
  }

  .lan{
  max-width: 100%;
  height: auto;
  transform: scale(2.5); 
  padding: 50px;
  }

  .lan:hover {
    transform: scale(2.1);
  }

 

/*email form*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  gap: 1rem;
}

input,
select,
textarea {
  padding: 1.4rem;
  background: white;
  border: 1px solid black;
}


button {
 width: 8rem;
 padding: 1.4rem;
 cursor: pointer;
 background: #1b006c;
 color: white;
}